main {
  max-width: 800px;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --button-color : #eee0e0;
}

button {
  border: none;
  padding: 16px;
  border-radius: 8px;
  display: grid;
  place-content: center;  
  background-color: var(--button-color);
  font-family: inherit;
  box-shadow: 3px 3px 10px #000a;
  outline: none;
  cursor: pointer;
}
button:hover {
  transform: translateY(-2px);
  /* Slight button lift on hover for a dynamic feel */
  box-shadow: 3px 3px 15px #000b;
  /* Enhances shadow on hover */
}

button:active {
  transform: translateY(0);
  /* Button press effect */
  box-shadow: 3px 3px 10px #000a;
  /* Returns shadow to its normal state when pressed */
}

.tabs {
  display: flex;
  flex-direction: row;
  gap : 8px;
  margin-bottom: 16px;
}
.tabs > * {
  display: grid;
  padding: 8px;
  border: 1px solid #ccc;  
}
.tabs > .active {
  border-bottom: none;
  font-weight: bold;
}